<template>
  <div>
    <HomeView />
  </div>
</template>
<script>
import HomeView from "./Views/HomeView.vue";
export default {
  components: {
    HomeView,
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Outfit&display=swap");

body {
  font-family: "Oswald", "Outfit", sans-serif;
}
</style>
